{% extends "layoutBase.html" %}
{% block title %}Documentation{% endblock %}

{% block content %}
    <h3>Documentation:</h3>

    <table class="highlight">
        <thead>
              <tr>
                  <th>Route</th>
                  <th>Method</th>
                  <th>Desciption</th>
                  <th>Parameters</th>
              </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    /
                </td>
                <td>
                    GET
                </td>
                <td>
                    documentation
                </td>
                <td>
                    None
                </td>
            </tr>
            <tr>
                <td>
                    /analyzes
                </td>
                <td>
                    GET
                </td>
                <td>
                    Retourne la liste de toutes les analyses
                </td>
                <td>
                    None
                </td>
            </tr>
            <tr>
                <td>
                    /analyzes
                </td>
                <td>
                    POST
                </td>
                <td>
                    Analyze a new text
                </td>
                <td>
                    name: text
                    <br>
                    type: string
                </td>
            </tr>
            <tr>
                <td>
                    /analyzes/id
                </td>
                <td>
                    GET
                </td>
                <td>
                    Retourne les résultats d'une analyse
                </td>
                <td>
                    None
                </td>
            </tr>
            <tr>
                <td>
                    /analyzes/id
                </td>
                <td>
                    DELETE
                </td>
                <td>
                    Supprime une analyse
                </td>
                <td>
                    None
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
