{% extends "layoutBase.html" %}
{% block title %}Analyze no°xx{% endblock %}

{% block content %}

    {% if error is defined %}
        <h4>Error</h4>
        <p class="red">{{ error }}</p>
    {% else %}
        <h4>Détails Analyses</h4>

        <div>
            {% for analyze in results %}
                {% for field in analyze %}
                    <p>{{ field }}</p>
                    <hr>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}

{% block javascript %}
    {{ super() }}
{% endblock %}
